---
import Layout from "../layouts/Layout.astro";
import Header from "../components/header";
import Footer from "../components/footer/Footer.astro";
import ConultImg from "/consult.png";
import AssessImg from "/assess.png";
import AccessImg from "/access.png";
import SelectImg from "/select.png";
import Services from "/services.jpeg";
---

<Layout title="Recuby">
  <Header
    className="fixed top-0 w-screen z-[80] h-32 bg-transparent"
    activeTab={3}
    client:load
  />
  <section class="py-28 first-section relative h-[65vh]">
    <div
      class="px-10 h-full justify-center flex flex-col md:pl-20 text-white space-y-10"
    >
      <div class="md:w-[45%] pt-16">
        <h1 class="text-2xl md:text-4xl lg:text-7xl font-bold heading-shadow">
          <span>Our Services</span>
        </h1>
      </div>
      <p class="text-sm hidden md:block">
        <a href="/" class="home-anchor-with-line">Home</a><span></span>
        / Services
      </p>
      <div class="text-white md:text-lg lg:text-xs md:w-[40rem]">
        <p>
          We provide Software Talents to all companies, whether Initial Level
          start ups, medium, or large. Our focus will be to help you create an
          amazing tech teams that Cuts your Competition out and build you the
          quality product.
        </p>
      </div>
    </div>
    <img
      src={Services}
      alt="background"
      class="absolute top-0 -z-10 h-[65vh] w-screen object-cover lg:object-fill"
    />
  </section>
  <section class="py-12 bg-white">
    <div class="w-full text-center">
      <h2 class="font-semibold text-2xl tracking-wide lg:my-2 blue-color-text">
        <span class="text-shadow">Services We Provide</span>
      </h2>
      <div
        class="w-full px-5 md:pl-24 md:px-16 md:py-5 lg:py-24 text-center grid grid-cols-1 gap-3 lg:flex md:grid md:grid-cols-2"
      >
        <div
          class="min-w-[20vw] my-5 md:my-0 flex flex-col items-center justify-center"
        >
          <img src={ConultImg} alt="consult" width="100px" />
          <p class="fourth-section-subheading">Executive Search</p>
          <div class="space-y-2 text-sm">
            Discover the best executivetalent for your business with Recuby.
          </div>
        </div>
        <div
          class="min-w-[20vw] my-5 md:my-0 flex flex-col items-center justify-center"
        >
          <img src={AccessImg} alt="access" width="100px" />
          <p class="fourth-section-subheading">Software Product Hiring</p>
          <div class="space-y-3 text-sm">
            Identify qualified software professional.Get Great Applicats fast.
          </div>
        </div>
        <div
          class="min-w-[20vw] my-5 md:my-0 flex flex-col items-center justify-center"
        >
          <img src={AssessImg} alt="assess" width="100px" />
          <p class="fourth-section-subheading">Tech Start Up Experts</p>
          <div class="space-y-3 text-sm">
            We help you establish a scalable tech Team from scratch by providing
            you with the best resources to kick-start your missions and visions
            of success.
          </div>
        </div>
        <div
          class="min-w-[20vw] my-5 md:my-0 flex flex-col items-center justify-center"
        >
          <img src={SelectImg} alt="select" width="100px" />
          <p class="fourth-section-subheading my-1">RPO</p>
          <div class="space-y-3 text-sm">
            Recuby acts as a inhouse recruiter for your company. Gain a
            competitive advantage by outsourcing the recruitment process.
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-[#00b4d5] py-14">
    <div class="h-full justify-center flex flex-col px-5 lg:pl-20 text-white">
      <form action="">
        <p class="w-[95%] text-3xl font-semibold my-4">Contact</p>
        <div class="w-full">
          <div class="lg:flex w-full space-y-3 lg:space-x-3 lg:space-y-0">
            <input
              type="text"
              placeholder="Name"
              class="styled-input py-2 h-12 w-full lg:w-[16rem]"
            /><input
              class="styled-input py-2 h-12 w-full lg:w-[16rem]"
              type="text"
              placeholder="Company Name"
            />
          </div>
          <div class="lg:flex w-full space-y-3 lg:space-x-3 my-4 lg:space-y-0">
            <input
              class="styled-input py-2 h-12 w-full lg:w-[16rem]"
              name=""
              id=""
              placeholder="Budget"
            />
            <input
              class="styled-input py-2 h-12 w-full lg:w-[16rem]"
              name=""
              id=""
              placeholder="Phone"
            />
          </div>
          <div
            class="mt-4 space-y-3 lg:flex lg:items-end lg:space-x-3 w-full lg:space-y-0"
          >
            <input
              class="styled-input py-2 h-12 w-full lg:w-[16rem]"
              type="email"
              name=""
              id=""
              placeholder="Email"
            />
            <textarea
              name=""
              id=""
              placeholder="Message"
              class="styled-input py-4 resize-none h-16 w-full lg:w-[16rem]"
            ></textarea>
          </div>
        </div>
        <button
          class="text-white bg-[#F6B807] py-2 rounded-full w-32 font-semibold text-base my-6"
          >Submit</button
        >
      </form>
    </div>
  </section>
  <Footer />
</Layout>

<style>
  body,
  html {
    overflow-x: hidden;
  }
  .third-section,
  .fourth-section {
    background-color: #2478fe;
  }
  .styled-input {
    border: none;
    background: transparent;
    border-bottom: 1px solid white;
    color: white;
    margin-right: 1rem;
  }
  .styled-input:focus {
    outline: none;
  }
  .styled-input::placeholder {
    color: white;
  }
  .home-anchor-with-line::before {
    content: "";
    width: 123px;
    border-top: 1px solid white;
    height: 2px;
    display: inline-block;
    margin-right: 10px;
    margin-top: -10px;
    position: relative;
    top: -2px;
  }
  .heading-shadow {
    text-shadow: 0px 8px 13px rgb(12 61 140 / 43%);
  }
  .gray-text-color {
    color: #515a69;
  }
  .styled-bullet-one::before {
    content: "";
    background-color: #fcb813;
    display: inline-block;
    width: 15px;
    height: 15px;
    top: 2px;
    position: relative;
    border-radius: 50% 0% 0% 50%;
    left: -2px;
  }
  .styled-bullet-two::before {
    content: "";
    background-color: #00b4d5;
    display: inline-block;
    width: 15px;
    height: 15px;
    top: 2px;
    left: -5px;
    position: relative;
    border-radius: 50% 50% 0% 0%;
  }

  .fourth-section-subheading {
    font-weight: 600;
    color: #2478fe;
  }
  .blue-color-text {
    color: #2478fe;
  }
  .culture-section-card {
    background-color: #2478fe;
    box-shadow: 38px 0px 54px 0px rgb(0 72 194 / 45%);
    width: 90%;
    text-align: center;
    padding: 4rem 0;
  }
</style>
